.container {
  padding: 10px;
    max-width: 300px;
    margin: 50px auto;
    background-color: #E6F2FF;
  }
  h2{
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    align-items: start;
  }
  input{
   
    margin-bottom: 5px;
    width: 100%;
    height: 25px;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  button{
   margin: 10px auto;
   width: 80px;
   height: 30px;
   color: white;
   background-color: #364D63;
  }
  